.container {
    padding: 16px;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.navbar {
    background-color: var(--light-color);
    margin: 0;
    padding: 4px 16px;
    align-content: center;
    border-radius: 4px;
    z-index: 9999;
}

    .navbar .nav-menu {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

        .navbar .nav-menu .menu-item {
            margin: 0;
        }

            .navbar .nav-menu .menu-item ::deep a {
                padding: 10px 4px;
                display: flex;
                gap: 16px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                color: var(--black-color);
                background: none;
            }

                .navbar .nav-menu .menu-item ::deep a:hover,
                .navbar .nav-menu .menu-item ::deep a.active {
                    color: var(--primary-color);
                }

.main {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
}

    .main ::deep.page-header {
        margin: 0;
        padding: 0;
        height: 48px;
        border-radius: 4px;
        align-content: center;
        z-index: 9998;
    }

        .main ::deep.page-header .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
        }

            .main ::deep.page-header .page-title {
                font-size: 15px;
                font-weight: 500;
                color: var(--light-color);
            }

            .main ::deep.page-header .container .page-navbar {
                height: 32px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 16px;
            }

            .main ::deep.page-header .container .page-navbar .small-link {
                color: var(--light-color);
            }

    .main ::deep.content {
        border-radius: 4px;
        background: var(--light-color);
        padding: 16px;
    }

        .main ::deep.content .row {
            margin: 0;
        }

::deep .quickgrid {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

    ::deep .quickgrid thead tr {
        background-color: var(--secondary-color);
        color: var(--light-color);
    }

        ::deep .quickgrid thead tr th {
            padding: 12px 12px 8px;
            text-align: center;
            font-size: 13px;
            font-weight: 600;
        }

            ::deep .quickgrid thead tr th * {
                margin: 0 !important;
                padding: 0 !important;
            }

            ::deep .quickgrid thead tr th .col-title {
                font-size: 13px;
                font-weight: 600;
                justify-content: center;
            }

            ::deep .quickgrid thead tr th.text-right .col-title,
            ::deep .quickgrid thead tr th:first-child .col-title {
                justify-content: right;
            }

            ::deep .quickgrid thead tr th:last-child .col-title {
                justify-content: left;
            }

    ::deep .quickgrid tbody tr {
        background: var(--light-color);
    }

        ::deep .quickgrid tbody tr:nth-child(2n) {
            background: var(--card-bg-color);
        }

        ::deep .quickgrid tbody tr:hover {
            transform: scale(1.01);
        }

        ::deep .quickgrid tbody tr td {
            padding: 8px 12px;
            text-align: center;
            font-size: 13px;
            font-weight: 400;
            color: var(--black-color);
        }

            ::deep .quickgrid tbody tr td.nowrap {
                text-wrap: nowrap;
            }

            ::deep .quickgrid tbody tr td.text-right,
            ::deep .quickgrid tbody tr td:first-child {
                text-align: right;
            }

            ::deep .quickgrid tbody tr td:last-child {
                text-align: left;
                opacity: 0;
                width: auto;
                display: flex;
                justify-content: flex-end;
                gap: 16px;
            }

        ::deep .quickgrid tbody tr:hover td:last-child,
        ::deep .quickgrid.show-all tbody tr td:last-child {
            opacity: 1;
        }

::deep .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
}

::deep .form-wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid var(--secondary-color);
    background: var(--card-bg-color);
    border-radius: 6px;
}

@media (max-width: 800px) {
    ::deep .form-wrapper {
        width: 100%;
        box-sizing: border-box;
    }
}

    ::deep .form-wrapper .form-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 16px;
        gap: 4px;
    }

    ::deep .form-wrapper .form-row:last-child {
        margin-bottom: 0px;
    }

        ::deep .form-wrapper .form-row > * {
            width: 100%;
            box-sizing: border-box;
        }

        ::deep .form-wrapper .form-row .form-label {
            font-size: 13px;
            font-weight: 500;
            color: var(--primary-color);
        }

        ::deep .form-wrapper .form-row .form-control {
            margin: 0;
            font-size: 13px;
            font-weight: 400;
            padding: 4px 8px;
            border-radius: 4px;
            outline: none;
            border: 1px solid gray;
            background: var(--light-color);
            color: var(--black-color);
        }

        ::deep .form-wrapper .form-row textarea {
            min-height: 120px;
            resize: none;
        }

        ::deep .form-wrapper .form-row button {
            font-size: 14px;
            font-weight: 500;
            padding: 6px 12px;
            width: 50%;
            margin-right: auto;
        }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
