@page "/Dashboard/Options/Delete/{Id:guid}"

<PageTitle>حذف گزینه لیکرت</PageTitle>

<header class="page-header">
    <div class="container">
        <h3 class="page-title">گزینه @option?.Label</h3>
        <nav class="page-navbar">
            <NavLink class="small-link" href="@($"/Dashboard/Options/Edit/{Id}")">ویرایش این گزینه</NavLink>
            <NavLink class="small-link" href="/Dashboard/Options">بازگشت به فهرست گزینه ها</NavLink>
        </nav>
    </div>
</header>

<div class="content container">
    @if (option is null)
    {
        <h4>در حال بارگزاری...</h4>
    }
    else
    {
        <div class="row">
            <div class="form-wrapper">
                <div class="form-row">
                    <label class="form-label">عبارت گزینه</label>
                    <p class="form-control">@option.Label</p>
                </div>
                <div class="form-row">
                    <label class="form-label">نمره گزینه</label>
                    <p class="form-control">@option.Score</p>
                </div>
                <EditForm method="post" Model="option" OnValidSubmit="DeleteOption" FormName="delete" Enhance>
                    <div class="form-row">
                        <button type="submit" disabled="@(option is null)">از حذف این گزینه اطمینان دارم</button>
                    </div>
                </EditForm>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private Option? option;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbContextFactory.CreateDbContext();

        option ??= await context.Options
            .FirstOrDefaultAsync(q => q.Id == Id);

        if (option is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteOption()
    {
        using var context = DbContextFactory.CreateDbContext();
        context.Options.Remove(option!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo($"/Dashboard/Scales/{option!.ScaleId}/Options");
    }
}
