@page "/Dashboard/Questionnaires"

<h3>پرسشنامه ها</h3>

<hr />

@if (questionnaires is null)
{
    <h4>در حال بازگزاری لیست</h4>
}
else
{
    @if (questionnaires.Count() < 1)
    {
        <h4>هیچ پرسشنامه ای یافت نشد.</h4>
    }
    else
    {
        <ul>
            @foreach(Questionnaire questionnaire in questionnaires!)
            {
                <li>@questionnaire.Title (@questionnaire.Questions.Count())</li>
            }
        </ul>
    }
}

@code {
    private ApplicationDbContext context { get; set; } = null!;

    private List<Questionnaire> questionnaires = new List<Questionnaire>();
    protected override async Task OnInitializedAsync()
    {
        context = DbContextFactory.CreateDbContext();

        questionnaires = await context
            .Questionnaires
            .ToListAsync();
    }
}
