.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: var(--light-color);*/
    background-image: url('/loading.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    z-index: 1000;
}