@page "/"

<PageTitle>@AppTitle</PageTitle>

@rendermode InteractiveServer

<div class="background"></div>
<div class="wrapper">
    <header class="main-header">
        <h4 class="header-title">@AppTitle</h4>
    </header>

    @if (PageDescription is null)
    {
        <Loading />
    }
    else
    {
        <div>
            @foreach (string Paragraph in PageDescription!)
            {
                <p class="justified">@Paragraph</p>
            }
        </div>
    }

    <div class="button-wrapper">
        <button class="button" @onclick="StartProgress">شروع پاسخگویی</button>
    </div>
</div>

@code {
    private string? AppTitle { get; set; }
    private string? FirstPageDescription { get; set; }
    private string[]? PageDescription { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        using var context = DbContextFactory.CreateDbContext();
        var generalInformation = await context.GeneralInformation
            .FirstOrDefaultAsync();

        AppTitle = generalInformation!.ApplicationTitle;
        FirstPageDescription = generalInformation!.FirstPageDescription;

        PageDescription = FirstPageDescription?.Split("\n");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            using var context = DbContextFactory.CreateDbContext();
            var localId = await localStorage.GetItemAsync<string>("participantId");
            if (localId is not null)
            {
                NavigationManager.NavigateTo("/Progress");
                return;
            }
            firstRender = false;
            StateHasChanged();
        }
    }

    private async Task StartProgress()
    {
        using var context = DbContextFactory.CreateDbContext();

        Participant participant = new Participant();
        participant.Id = Guid.NewGuid();
        participant.SubmissionTime = DateTime.UtcNow;

        try
        {
            context.Participants.Add(participant);
            await context.SaveChangesAsync();
            await localStorage.SetItemAsync("participantId", participant.Id);
            NavigationManager.NavigateTo($"/Progress");
        }
        catch
        {

        }
    }
}