body * {
    position: relative;
    box-sizing: border-box;
}

button {
    width: 100%;
}

.container {
    max-width: 1120px;
    padding: 16px;
    margin: 0 auto;
    min-height: 100vh;
}

    .container .content {
        margin: auto;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid var(--primary-color);
        background: var(--card-bg-color);
        min-height: calc(100vh - 32px);
    }
