body * {
    position: relative;
    box-sizing: border-box;
}

button {
    color: var(--primary-color);
    background-color: var(--light-color);
}

    button:hover {
        color: var(--light-color);
        background-color: var(--secondary-color);
    }

.container {
    max-width: 1120px;
    padding: 16px;
    margin: 0 auto;
    min-height: 100vh;
}

    .container .content {
        margin: auto;
        padding: 16px;
        border-radius: 8px;
        min-height: calc(100vh - 32px);
    }

        .container .content .button-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
        }
