@page "/"

<PageTitle>@AppTitle</PageTitle>

@rendermode InteractiveServer

<header class="main-header">
    <h4 class="header-title">@AppTitle</h4>
</header>

<p>@FirstPageDescription</p>

<div class="button-wrapper">
    <button class="light-button" @onclick="StartProgress">شروع پاسخگویی</button>
</div>

@code {
    private bool InProgress = false;

    private string? AppTitle { get; set; }
    private string? FirstPageDescription { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        using var context = DbContextFactory.CreateDbContext();
        var generalInformation = await context.GeneralInformation
            .FirstOrDefaultAsync();

        AppTitle = generalInformation!.ApplicationTitle;
        FirstPageDescription = generalInformation!.FirstPageDescription;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            using var context = DbContextFactory.CreateDbContext();
            var localId = await localStorage.GetItemAsync<string>("participantId");
            if (localId is not null)
            {
                NavigationManager.NavigateTo("/Progress");
                return;
            }
            firstRender = false;
            StateHasChanged();
        }
    }

    private async Task StartProgress()
    {
        using var context = DbContextFactory.CreateDbContext();

        Participant participant = new Participant();
        participant.Id = Guid.NewGuid();
        participant.SubmissionTime = DateTime.UtcNow;

        try
        {
            context.Participants.Add(participant);
            await context.SaveChangesAsync();
            await localStorage.SetItemAsync("participantId", participant.Id);
            NavigationManager.NavigateTo($"/Progress");
        }
        catch
        {

        }
    }
}