@page "/"

<PageTitle>پرسشنامه آنلاین پژوهش سنجش ترس از بازگشت سرطان در مراقبین خانوادگی بیماران سرطانی</PageTitle>

@rendermode InteractiveServer

<main class="container">
    <div class="content">
        <h1>ممنونیم که برای کمک به این پژوهش با ما همکاری می کنید.</h1>

        <p>
            پرسشنامه آنلاین پژوهش سنجش ترس از بازگشت سرطان در مراقبین خانوادگی بیماران سرطانی
        </p>
        @if (InProgress)
        {
            <p>
                یک پرسشنامه در دستگاه شما در حال پاسخگویی است. آیا مایل به تکمیل همان پرسشنامه هستید؟
            </p>
            <button @onclick="ContinueProgress">بله، همان پرسشنامه را ادامه می دهم.</button>
            <p></p>
            <button @onclick="StartProgress">خیر، پرسشنامه جدیدی می خواهم.</button>
        }
        else
        {
            <button @onclick="StartProgress">شروع پاسخگویی</button>
        }
    </div>
</main>

@code {
    private bool InProgress = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            using var context = DbContextFactory.CreateDbContext();
            var localId = await localStorage.GetItemAsync<string>("participantId");
            if (localId is not null)
            {
                InProgress = true;
            }
            firstRender = false;
            StateHasChanged();
        }
    }

    private async Task StartProgress()
    {
        using var context = DbContextFactory.CreateDbContext();

        Participant participant = new Participant();
        participant.Id = Guid.NewGuid();
        participant.SubmissionTime = DateTime.UtcNow;

        try
        {
            context.Participants.Add(participant);
            await context.SaveChangesAsync();
            await localStorage.SetItemAsync("participantId", participant.Id);
            NavigationManager.NavigateTo($"/Progress");
        }
        catch
        {

        }
    }

    private void ContinueProgress()
    {
        NavigationManager.NavigateTo($"/Progress");
    }
}