body * {
    position: relative;
    box-sizing: border-box;
}

button {
    width: 100%;
}

.container {
    width: 100%;
    padding: 48px 24px 24px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
}

    .container .content {
        width: 100%;
        max-width: 1120px;
        padding: 0;
        margin: auto;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        gap: 16px;
    }

.progress-header {
    position: relative;
    align-content: center;
    height: 64px;
}

    .progress-header h4 {
        text-align: center;
    }

    .progress-header button {
        position: absolute;
        padding: 0;
        width: auto;
        right: 0;
        top: 50%;
        height: 24px;
        margin-top: -12px;
        z-index: 99;
    }

    .progress-header button:hover {
        background: transparent;
    }

.question-number {
    text-align: center;
    color: var(--secondary-color);
}

.question-card {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
}

    .question-card .question {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: first baseline;
        gap: 12px;
        flex: 1 0 100%;
    }

        .question-card .question * {
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: justify;
        }

        .question-card .question .question-clarification {
            margin-top: 16px;
            color: gray;
        }

    .question-card .question-options {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        background: var(--light-color);
        box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
        flex: 1 0 50%;
        max-height: 50%;
        border-radius: 2px;
    }

        .question-card .question-options .question-options-item {
            padding: 8px 12px;
            color: var(--black-color);
            border-bottom: 1px solid lightgray;
            font-size: 14px;
            text-align: center;
            font-weight: 400;
            flex-grow: 1;
            align-content: center;
        }
        .question-card .question-options .question-options-item:last-child {
            border: none;
        }

        .question-card .question-options ::deep input[type="radio"] {
            display: none;
        }

        .question-card .question-options input:checked + .question-options-item {
            color: var(--primary-color);
            font-weight: 600;
        }

.paginator nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

    .paginator nav button {
        width: auto;
    }

        .paginator nav button:disabled {
            color: lightgray;
            background-color: var(--secondary-color);
            border-color: var(--secondary-color);
        }

/*
::deep table.quickgrid {
    --col-gap: 0;
    height: 100%;
    width: 100%;
    flex: 1;
}

    ::deep table.quickgrid thead {
        display: none;
    }

    ::deep table.quickgrid > tbody > tr > td {
        padding: 0;
    }

    ::deep .question-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    ::deep table.quickgrid span {
        margin-bottom: auto;
    }

.paginator {
}

    .paginator nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

        .paginator nav button {
            width: auto;
        }
*/