button {
    width: 100%;
}

.main-header {
    position: relative;
    align-content: center;
    height: 64px;
}

    .main-header .header-title {
        font-size: 15px;
        text-align: center;
    }

    .main-header button {
        position: absolute;
        padding: 0;
        width: auto;
        right: 0;
        top: 50%;
        height: 24px;
        margin-top: -12px;
        z-index: 99;
    }

        .main-header button:hover {
            background: transparent;
        }

.question-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    gap: 16px;
}

    .question-wrapper .question-number {
        text-align: center;
        color: var(--secondary-color);
    }
