button {
    width: 100%;
}

.main-header {
    position: relative;
    align-content: center;
    height: 64px;
}

    .main-header .header-title {
        text-align: center;
    }

    .main-header button {
        position: absolute;
        padding: 0;
        width: auto;
        right: 0;
        top: 50%;
        height: 24px;
        margin-top: -12px;
        z-index: 99;
    }

        .main-header button:hover {
            background: transparent;
        }

.question-number {
    text-align: center;
    color: var(--secondary-color);
}

.paginator nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

    .paginator nav button {
        width: auto;
    }

        .paginator nav button:disabled {
            color: lightgray;
            background-color: var(--secondary-color);
            border-color: var(--secondary-color);
        }
