@page "/Progress"

@rendermode InteractiveServer

@if (participant is null || Questionnaires is null || Questions is null)
{
    <Loading />
}
else
{
    <header class="main-header">
        @{
            var previousDisable =
            questionnaire!.Priority <= 1
            &&
            question!.Position <= 1;
            <button @onclick="PreviousQuestion"
                    disabled=@(previousDisable ? "disabled" : false)>
                <img src="/back.svg" />
            </button>
        }
        <h4 class="header-title">پرسشنامه ترس از بازگشت سرطان</h4>
    </header>
    @if (question is null || participant is null)
    {
        <Loading />
    }
    else
    {
        <div class="question-wrapper">
            <h5 class="question-number">بخش @questionnaire.Priority: @questionnaire.Title</h5>
            <QuestionCard QuestionId="question.Id" ParticipantId="participant.Id" OnAnswered="HandleAnswer" />
        </div>
        <footer>
            <ProgressBar ResponsesCount="@ResponsesCount" />
        </footer>
    }
}

@code {
    private Participant? participant;

    private List<Questionnaire>? Questionnaires;
    private Questionnaire? questionnaire;

    private List<Question>? Questions;
    private Question? question;

    private int ResponsesCount = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            using var context = DbContextFactory.CreateDbContext();
            var localId = await localStorage.GetItemAsync<string>("participantId");

            if (localId is null)
            {
                return;
            }

            participant ??= await context.Participants
                .FirstOrDefaultAsync(p => p.Id.ToString() == localId);
            firstRender = false;

            ResponsesCount = context.Responses
                .Where(r => r.ParticipantId == participant!.Id)
                .Count();

            var questionsCount = context.Questions
                .Count();

            if (ResponsesCount >= questionsCount)
            {
                await localStorage.RemoveItemAsync("participantId");
                NavigationManager.NavigateTo("/");
            }

            var lastQuestion = context.Questions
                .Include(q => q.Questionnaire)
                .OrderBy(q => q.Position)
                .ToList()
                .OrderBy(q => q.Questionnaire.Priority)
                .ToList()
                .Skip(ResponsesCount)
                .FirstOrDefault();

            if (lastQuestion is not null)
            {
                Questionnaires = await context.Questionnaires
                    .Include(q => q.Questions)
                    .OrderBy(q => q.Priority)
                    .ToListAsync();

                questionnaire = Questionnaires!.FirstOrDefault(q => q.Id == lastQuestion.QuestionnaireId);

                Questions = await context.Questions
                    .Include(q => q.Scale)
                        .ThenInclude(s => s.Options)
                    .Where(q => q.QuestionnaireId == questionnaire!.Id)
                    .OrderBy(q => q.Position)
                    .ToListAsync();

                question = Questions!.FirstOrDefault(q => q.Id == lastQuestion.Id);
            }

            StateHasChanged();
        }
    }

    private async Task NextQuestion()
    {
        var currentQuestion = question!.Position;
        if (currentQuestion < Questions!.Count())
        {
            question = Questions!.FirstOrDefault(q => q.Position == currentQuestion + 1);
        }
        else
        {
            var currentQuestionnaire = questionnaire!.Priority;
            questionnaire = Questionnaires!
                .FirstOrDefault(q => q.Priority == currentQuestionnaire + 1);

            if (questionnaire is not null)
            {
                using var context = DbContextFactory.CreateDbContext();
                Questions = await context.Questions
                    .Include(q => q.Scale)
                        .ThenInclude(s => s.Options)
                    .Where(q => q.QuestionnaireId == questionnaire.Id)
                    .OrderBy(q => q.Position)
                    .ToListAsync();

                question = Questions.FirstOrDefault();
            }
        }

        StateHasChanged();
    }

    private async Task PreviousQuestion()
    {
        var currentQuestion = question!.Position;
        if (currentQuestion > 1)
        {
            question = Questions!.FirstOrDefault(q => q.Position == currentQuestion - 1);
        }
        else
        {
            var currentQuestionnaire = questionnaire!.Priority;
            questionnaire = Questionnaires!
                .FirstOrDefault(q => q.Priority == currentQuestionnaire - 1);

            if (questionnaire is not null)
            {
                using var context = DbContextFactory.CreateDbContext();
                Questions = await context.Questions
                    .Include(q => q.Scale)
                        .ThenInclude(s => s.Options)
                    .Where(q => q.QuestionnaireId == questionnaire.Id)
                    .OrderBy(q => q.Position)
                    .ToListAsync();

                question = Questions.LastOrDefault();
            }
        }

        StateHasChanged();
    }

    private async Task HandleAnswer(int responsesCount)
    {
        await NextQuestion();

        ResponsesCount = responsesCount;
    }
}
