.questionnaire-description-card {
    flex: 1;
    padding: 0px;
    text-align: center;
    align-content: center;
}

    .questionnaire-description-card .questionnaire-description {
        padding: 24px 16px;
        border-radius: 8px;
        color: var(--black-color);
        background: rgba(255, 255, 255, .6);
        margin-bottom: 24px;
        border-radius: 6px;
        box-shadow: 0 0 5px -3px var(--secondary-color);
        backdrop-filter: blur(3px);
        background-color: rgba(255, 255, 255, .25);
    }

    .questionnaire-description-card button {
        min-width: 60%;
    }
