.background {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    background-image: url('/backgrounds/thanks_background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 16px;
    margin: -12px;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0 0 5px -3px var(--secondary-color);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, .4);
}

.main-header {
    position: relative;
    align-content: center;
    height: 64px;
}

    .main-header .header-title {
        text-align: center;
    }

.page-title {
    text-align: center;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

    .button-wrapper button {
        min-width: 60%;
    }
