@page "/Thanks"

<PageTitle>@AppTitle</PageTitle>

<div class="background"></div>

<header class="main-header">
    <h4 class="header-title">@AppTitle</h4>
</header>

@if (PageDescription is null)
{
    <Loading />
}
else
{
    <div>
        @foreach (string Paragraph in PageDescription)
        {
            <p class="justified">@Paragraph</p>
        }
    </div>
}

@if (! string.IsNullOrWhiteSpace(GiftLink))
{
    <div class="button-wrapper">
        <a href="@GiftLink">
            <button class="light-button">دانلود هدیه</button>
        </a>
    </div>
}

@code {
    private string? AppTitle { get; set; }
    private string? LastPageDescription { get; set; }
    private string[]? PageDescription { get; set; }
    private string? GiftLink { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        using var context = DbContextFactory.CreateDbContext();
        var generalInformation = await context.GeneralInformation
            .FirstOrDefaultAsync();

        AppTitle = generalInformation!.ApplicationTitle;
        LastPageDescription = generalInformation!.LastPageDescription;
        PageDescription = LastPageDescription?.Split("\n");
        GiftLink = generalInformation!.GiftLink;
    }

    protected void DownloadGift()
    {
        NavigationManager.NavigateTo(GiftLink!);
        // Download process
    }
}